.sortBtn {
    color: #6370ab;
    cursor: pointer;
    border: 1px solid #6370ab;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0 20px 10px;
    background-color: #fff;
    display: inline-block;
  }
  .timeBtn {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    color: #6370ab;
    background-color: #fff;
    border: 1px solid #6370ab;
    border-radius: 5px;
    margin: 5px 0 20px 10px;
  }
  /* todo list count */
  .todoCount {
    font-size: 1rem;
    margin: 20px 0 0 10px;
  }