/* global styles */
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;  
  font-size: 16px;
  font-weight: 500;
  background-color: #d6d9de;
  background-size: cover;
  background-image: url(./img/bekky-bekks-1DGGhgD9KK4-unsplash.jpg);
}
h1, h2, h3, h4 {
  font-family: 'Archivo Black', sans-serif;  
  color: #383940;
  font-size: 2.5rem;
  font-weight: 700;
}
p {
  color: #40414a;
}
/* app.js container */
.container {
  margin: 0 auto;
  padding-top: 30px;
  width: 60%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* app.js wrapper */
.wrapper {
  margin-top: 100px;
  padding: 20px;
  border: 1px solid #918919;
  width: 100%;
  background-color: #e6c629;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
/* app.js header */
.appHeader {
  padding: 15px 15px 0px 15px;
}
/*
media queries for mobile, tablet, desktop 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
As you shrink object window the app will change layout at smaller
viewports ie 768px or less.
*/
@media only screen and (max-width: 1201px) {
  .container {
    width: 60%;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    width: 55%;
  }
}
@media only screen and (max-width: 964px) {
  .container {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
  .wrapper {
    width: auto;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
  .wrapper {
    width: auto;
  }
}